<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charles.opencv">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.charles.opencv.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FeatureActivity.AIActivity" />
        <activity android:name=".Gallery.GalleryActivity" />
        <activity
            android:name=".Gallery.GallerySelectedActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FeatureActivity.BirdFinderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.ReferenceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BirdBank.IndividualBirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeatureActivity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeatureActivity.BirdBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeatureActivity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeatureActivity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeatureActivity.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeatureActivity.AchievementActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Voice.VoiceControlActivity">
            <intent-filter>
                <action android:name="org.example.MY_ACTION_INTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
        <activity android:name=".News.NewsActivity"></activity>
    </application>

</manifest>